header {
    position: sticky;
    z-index: 1;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $headerHeight;
    background: #5dade2;
    padding: 0 $padding;
    user-select: none;

    p {
        color: white;

        &:not(:first-child) {
            padding-left: 32px + $padding / 2;
        }
    }

    >div {
        width: 24px;
        height: 24px;
        padding: 8px;
        fill: white;

        &:hover {
            cursor: pointer;
        }

        &:first-child {
            padding-left: 0;
            position: absolute;
        }

        &:last-child {
            padding-right: 0;
        }
    }
}