.substitutionsElement {
    min-height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 $padding;
    margin: 6px 0 6px 0;
    width: calc(100vw - #{$padding * 2});
    background-color: #f0f0f0;
    user-select: none;

    p:nth-child(2) {
        font-size: 10pt;
        color: gray;
    }
}

#empty {
    display: flex;
    height: calc(100vh - #{$headerHeight});
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    p {
        max-width: 300px;
    }

    p:first-child {
        font-weight: bold;
        margin: 4px;
    }
}