.button {
  position: relative;
  height: 3rem;
  padding: 0 1.5rem;
  border-radius: 1.5rem;
  font-size: .9rem;
  color: var(--primary);
  background: none;
  border: none;
  outline: none;
  overflow: hidden;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
  }

  &::before {
    background-color: var(--button);
  }

  &:not(:disabled) {
    &:active::after {
      background-color: var(--hover);
    }

    &:hover,
    &:focus-visible {
      background-color: var(--hover);
    }
  }

  &:disabled {
    cursor: not-allowed;
    opacity: .5;
  }
}